{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact -App</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
   <form method="POST" action="{% url 'profile' %}">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Enter name">
    <input type="email" name="email" placeholder="Enter email">

    <button type="submit">Submit</button>
</form>

<!-- Show data -->
<h2>{{ name }}</h2>
<h3>{{ email }}</h3>
   
</body>
</html>